.blog .article-cart-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

article.article-card {
    flex: 1 1 60rem;
    padding: 2rem 6rem;
    padding-left: 6rem;
}

a .summary-link {
    padding: 2rem 0;
    
}
.blog p {
    font-size: 2rem;
    color: var(--dark2);
    padding: 1rem 0;
    text-transform: none;
}
#blog  div a span.read-more {
    float:right;
    color: var(--dark2);
 }
 #blog  div a span.read-more:hover{
    color: var(--yellow);
 }
.blog div span {
    color: var(--yellow);
    font-size: 1.5rem;
    text-transform: none;
}

.blog a h2 {
    font-size: 4rem;
    color: var(--black);
}

.blog a img {
    display: flex;
    max-width: 80%;
    align-items: center;
}


/* Media Queries */
@media (max-width:1200px) {
	.blog {
		padding: 1rem 4rem;
	}
}