html,
body {
    height: 100%;
    margin: 0;
    font-family: monospace;
    font-size: 1em;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-left: 1em;
}

h1 {
    padding-left: 0.4em;
}

footer {
    align-items: flex-end;
    text-align: center;
    padding: 1em;
}

blockquote {
    margin: 0;
}

blockquote,
figcaption,
cite {
    font-size: 0.8em;
}

blockquote p {
    padding: 1em;
    background: #eee;
    border-radius: 5px;
    width: 25%;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}