:root {
	--light-bg: #f9f9f9;
	--light-text: #090707;
	--link: #7771d3;
	--link-visited: #9A94E9;
	--dark-bg: #090707;
	--dark-text: #F9F9F9;
}

html * {
	font-size: 1em !important;
	font-family: "Playfair Display", Georgia, serif,
		/* Windows, MacOS */
		"Serifa BT",
		/* Windows XP. Not the same font, but the overall look is close enough. */
		"URW Bookman L",
		/* Unix+X+FontConfig */
		"itc bookman",
		/* Unix+X */
		/* Fallback options */
		times,
		/* Unix+X, MacOS */
		serif
	 !important;
	 line-height: 1.4em;
}

body {
	overflow: hidden;
	background-color: var(--light-bg);
	color: var(--light-text);
}

a {
	text-decoration: none;
	color: var(--light-link);
	font-weight: bold;
}

a:visited {
	color: var(--link-visited);
}

aside {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 200px;
	padding: 20px;
}

main {
	margin-left: 200px;
	/* to account for the width of aside */
	width: calc(100% - 200px);
	height: 100vh;
	overflow: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	scroll-snap-align: center;
}

article {
	height: 100vh;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

footer {
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-color: #333;
	color: #eaeaea;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
	}


body>aside>nav:nth-child(1)>ul>li.dropdown>a {
	cursor: pointer;
}

ul ul {
	margin-left: 15px;
}

.subnav {
	height: 0;
	opacity: 0;
	transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
	overflow: hidden;
}

h1,
.bold {
	font-weight: bold;
}

.theme-switcher {
	position: absolute;
	right: 1.5em;
}

.theme-switcher-icon {
	height: 30px;
	width: 30px;
	cursor: pointer;
	filter: invert(0);
}

.portrait > a >img {
	width: 90px;
    height: 90px;
    border-radius: 90px;
    margin-bottom: 5px;
}