article .heading {
	margin: 5rem auto 2rem;
}

article span {
	color: var(--yellow);
}

article {
	text-align: left;
	color: var(--white);
	padding: 0 20%;
	font-size: 1.5rem;
	line-height: 2.5rem;
}

article :is(h1, h2, h3, h4, h5, h6) {
	margin: 5rem auto 2rem;
	font-size: 4rem;
}

article img {
	display: block;
	margin: 5rem auto 2rem;
	width: 100%;
}

article p,
a {
	font-size: 1.5rem;
	line-height: 2.5rem;
	text-transform: none;
}

article .author {
	margin: 5rem 0;
}

pre,
code,
.token {
	text-transform: none;
}

.toc {
	position: fixed;
	top: 1rem;
	right: 1rem;
	width: 30%;
	max-width: 10rem;
	padding: 2%;
	background-color: #f7f7f7;
}

.toc-list,
.toc-list ol {
	list-style-type: none;
}

.toc-list {
	padding: 0;
}

.toc-list ol {
	padding-inline-start: 2ch;
}

.toc-list li>a {
	text-decoration: none;
	display: grid;
	grid-template-columns: auto max-content;
	align-items: end;
}

.toc-list li>a>.page {
	text-align: right;
}